{% extends "base.html" %}

{% block content  %}
<!-- Main hero unit for a primary marketing message or call to action -->
  <div id="placeholder" class="hero-unit" style="width:900px;height:200px;">
    <h1>A Graph will go here</h1>
  </div>

  
  <div id="commits" class="row">
      {% for commit in commits[:3] %}
      <div class="span4">
        <h2>{{ commit['author'] }}</h2>
        <p>{{ commit['commit_message'] }} <img src="../static/uploads/{{ commit['photo'] }}" height="75" style="float: right;"/></p>
        <p><a class="btn" href="/details/{{ commit['_id'] }}">View details &raquo;</a></p>
        
      </div>
      {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(function () {
    HR = [
    {% for row in hrm %}
        [{{ row[1] * 1000}}, {{ row[0] }}],
    {% endfor %}
    ];
    HRID = [
        {% for row in hrm %}
           '{{ row[2] }}',
       {% endfor %}
    ];
    COMMITS = [
    {% for row in commits %}
        [{{ row['time'] * 1000 }}, {{ row['hrm']}}],
    {% endfor %}
    ];
    
    MARKINGS = [
    {% for row in commits %}
    { color: '#888', lineWidth: 1, xaxis: { from: {{ row['time'] * 1000 }}, to: {{ row['time'] * 1000 }} } },
    {% endfor %}
    ];
    
    IDS = [
        {% for row in commits %}
        "{{ row['_id'] }}",
        {% endfor %}
    ]

    options = { grid: { hoverable: true, clickable: true, markings: MARKINGS }, xaxis: { mode: "time" }}

    function fetchCommitData() {
         
         function onDataReceived(series) {
             $.each(series, function(index, input) {
                COMMITS.push([input[0] * 1000, input[1]])
                IDS.push(input[2]) 
                $.plot($("#placeholder"), [
                        {
                            data: HR,
                            lines: { show: true, fill: true }
                        },
                        {
                            data: COMMITS,
                            points: { show: true }
                        }], options);
                        
                var updates = [COMMITS[COMMITS.length-1], COMMITS[COMMITS.length-2], COMMITS[COMMITS.length-3]]
                $.each(updates, function(index, input) {
                    var div = $('div#commits')
                    div.empty()
                    var toAppend = $('<div class="span4"> \
                        <h2>' + input["author"] + '</h2> \
                        <p>' + input['commit_message'] + '<img src="../static/uploads/' + input['photo'] + '" height="75" style="float: right;"/></p> \
                        <p><a class="btn" href="/details/' + input['_id'] + '">View details &raquo;</a></p> \
                      </div>');
                     div.append(toAppend);
                });
             });
         }
         
         $.ajax({
             url: "/data/commit/" + IDS[0],
             method: 'GET',
             dataType: 'json',
             success: onDataReceived
         })
         
         setTimeout(fetchCommitData, 1000)
    }
    
    function fetchData() {
         
         function onDataReceived(series) {
             $.each(series, function(index, input) {
                HR.push([input[0] * 1000, input[1]])
                HRID.push(input[2]) 
                $.plot($("#placeholder"), [
                        {
                            data: HR,
                            lines: { show: true, fill: true }
                        },
                        {
                            data: COMMITS,
                            points: { show: true }
                        }], options);
             });
         }
         
         $.ajax({
             url: "/data/hr/" + HRID[HRID.length -1],
             method: 'GET',
             dataType: 'json',
             success: onDataReceived
         })
         
         setTimeout(fetchData, 1000)
    }
    
    //fetchCommitData();
    
    setTimeout(fetchData, 1000);
    setTimeout(fetchCommitData, 1000);

    var plot = $.plot($("#placeholder"), [
            {
                data: HR,
                lines: { show: true, fill: true }
            },
            {
                data: COMMITS,
                points: { show: true }
            }], options);
            
            function showTooltip(x, y, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css( {
                        position: 'absolute',
                        display: 'none',
                        top: y + 5,
                        left: x + 5,
                        border: '1px solid #fdd',
                        padding: '2px',
                        'background-color': '#fee',
                        opacity: 0.80
                    }).appendTo("body").fadeIn(200);
                }

                var previousPoint = null;
                $("#placeholder").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));

                    
                        if (item) {
                            if (previousPoint != item.dataIndex) {
                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);
                                if (item.series.data.length < 100)
                                {
                                showTooltip(item.pageX, item.pageY,
                                            IDS[item.dataIndex]);
                                        }
                            }
                        }
                        else {
                            $("#tooltip").remove();
                            previousPoint = null;            
                        }
                    
                });
            
   $("#placeholder").bind("plotclick", function (event, pos, item) {
        if (item) {
            if (item.series.data.length < 100) {
                document.location = document.location.origin + "/details/" + IDS[item.dataIndex]
                //$("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                plot.highlight(item.series, item.datapoint);
            }
        }
    });
});
</script>
{% endblock %}